/**{
    border: 1px solid red;
}*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.card {
	border-radius: 0.5rem;
	margin: 15px;
    padding: 10px;
    width: 364px;
    height: 162px;
    border-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo1{
    font-size: 20px;
    height: 70px;
    margin: 0;
    border-radius: 0.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    
    background-color: tomato;
}
.description{
    color: black;
}
.abajo{
    color: rgb(95, 86, 86);
}
.titulo2{
    font-size: 20px;
    height: 70px;
    margin: 0;
    border-radius: 0.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(133, 87, 160);
}
.titulo3{
    font-size: 20px;
    height: 70px;
    margin: 0;
    border-radius: 0.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(131, 120, 138);
}